<html>
    <head>
        <meta charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">      
        <link rel="stylesheet" type="text/css" href="css/style.css">        
        <title>Freeride</title>
    </head>
    <body>
    <header>
        <div id="title">Freeride</div> Location de vehicules a des prix abordables
    </header>
    <div id="app">
    <div id="container"> 

        <div id="menu">
             <liste-vehicules></liste-vehicules>        
        </div>

        <div id="contenu">
            <details-vehicule></details-vehicule>  
        </div>

    </div>   
    </div>

    <template id="listeVehicules">
        <ul>
            <li class="men-itm" v-for="item in items" @click="setVehicule(item.id)">{{item.titre}}
                <i aria-hidden="true" v-if="item.cat == 'voiture'" class="fa fa-car my-orange"></i>
                <i aria-hidden="true" v-if="item.cat == 'moto'" class="fa fa-motorcycle my-darkblue"></i>
                <i aria-hidden="true" v-if="item.cat == 'velo'" class="fa fa-bicycle my-green"></i>
                <i aria-hidden="true" v-if="item.cat == 'van'" class="fa fa-bus my-red"></i>
            </li>               
        </ul>   
    </template>


    <template id="detailsVehicule">        
        <div>
        <div class="animdroite" id="titre">{{selectedItem.titre}}</div>
        <div class="animdroite" id="introduction">{{selectedItem.introduction}}</div>
        <div class="animdroiteimg" id="image">
            <img :src="selectedItem.image" height="300px">
            <i :class="icone(selectedItem.cat)" aria-hidden="true"></i>
        </div>
        <div class="animdroite" id="description">
            {{selectedItem.description}}
        </div>       
        <button  class="animdroite" id="reserver">RESERVER</button>
        </div>       
    </template> 

    <script src="vue.js"></script> 
    <script src="vehicules.js"></script>      
    <script src="main.js"></script>        
</body>
</html>